<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>My Cool Chatbox</title>

	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnout.com/jquery/"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css" rel="stylesheet" />
</head>

<body>
	<nav class="bg-gradient-to-r from-cyan-500 py-5">
		<h1 class="text-center text-2xl font-bold"><a href="/">Cool Chatbox</a></h1>
		<div class="text-end px-5">
			{{#if logged_in}}
			<a href="/logout" class="px-5 py-1 h-full bg-cyan-500 rounded-md text-white hover:bg-cyan-600">Logout</a>
			{{else}}
			<a href="/login" class="px-5 py-1 h-full bg-cyan-500 rounded-md text-white hover:bg-cyan-600">Login</a>
			{{/if}}
		</div>
	</nav>
	{{{body}}}

</body>


</html>