<div id="wrapper" class="h-[80vh] mx-auto container flex flex-row mt-10">
	<div id="usercard" class="h-full w-4/12 bg-cyan-50 drop-shadow-md">
		<div class="drop-shadow-md text-center mt-10 bg-cyan-100 h-8/12 w-full p-10">
			<h1 className="">Username</h1>
			<h2>Session Time</h2>
			<button id="Previous-chats" class="px-5 bg-cyan-500 rounded-md text-white hover:bg-cyan-600">
				Previous Chats
			</button>
		</div>

	</div>
	<div id="chatbox" class="h-full w-8/12 bg-cyan-100 drop-shadow-md">
		<div id="messagesholder" class="overflow-auto max-h-full pb-[100px]">
		</div>
		<form id="sendbox" class="absolute w-full h-20 bg-red-100 bottom-0 border-t-2 border-indigo-200">
			<div class="flex flex-row justify-between items-center h-full w-full">
				<input id="message" type="text" class="w-full h-full border-0 px-5 py-2"
					placeholder="Type a message to start chatting" />
				<button type="submit" id="send" class="px-5 h-full bg-cyan-500 text-white rounded-md hover:bg-cyan-600">
					send
				</button>
			</div>
		</form>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js" />
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();

	var form = document.getElementById('sendbox');
	var input = document.getElementById('message');

	form.addEventListener('submit', function (e) {
		e.preventDefault();
		console.log(`Sending message: ${input.value}`);
		if (input.value) {
			socket.emit('chat message', input.value);
			input.value = '';
		}
	});
	socket.on("chat message", (message) => {
		const messagesholder = document.getElementById('messagesholder');
		const messageElement = document.createElement('div');
		messageElement.classList.add('flex', 'flex-row', 'justify-between', 'items-center', 'p-2', 'bg-indigo-100', 'border-b-2', 'border-indigo-200');

		const messageText = document.createElement('div');
		messageText.classList.add('w-full', 'h-full', 'text-left', 'text-sm', 'text-indigo-600');
		messageText.innerText = `${message.username}: ${message.message}`;
		messageElement.appendChild(messageText);
		messagesholder.appendChild(messageElement);
		messagesholder.scrollTop = messagesholder.scrollHeight;
	});
</script>