<div class="h-[80vh] mx-auto container flex flex-row mt-10">
    <div class=" w-6/12 mx-auto inline-block p-6 rounded-lg shadow-lg bg-white max-w-sm content-center">
        <form id="login-form">
            <h1 class="text-lg font-bold ">Login to start chatting!</h1>
            <div class="flex flex-col my-7">
                <label class="block text-sm font-bold mb-2" for="username">Username</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username-login" type="text" placeholder=" Enter your username">

                <label class="block text-sm font-bold mb-2" for="password">Password</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password-login" type="password" placeholder="Enter your password">
                <button type="submit" class="px-5 py-1 h-full bg-cyan-500 rounded-md text-white
                                        hover:bg-cyan-600">Login</button>

                <a href="/signup" class=" text-center my-2 px-5 py-1 h-full   text-cyan-600
                        hover:opacity-80"> Signup Now</a>
        </form>
    </div>
</div>

<script src="/js/login.js">
</script>