<div class=" mx-auto container flex flex-row mt-10">
    <div class="w-10/12 md:w-6/12 mx-auto inline-block py-20 px-10 rounded-lg shadow-lg border border-solid 
                border-opacity-10 
                rounded-xl max-w-sm content-center">
        <form id="login-form">
            <h1 class="text-2xl font-bold text-sans ">Login to start chatting!</h1>
            <div class="flex flex-col my-7">
                <label class="block text-lg font-bold" for="username">Username</label>
                <input
                    class="shadow appearance-none border rounded-lg w-full py-2 my-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username-login" type="text" placeholder=" Enter your username">
                <label class="block text-lg font-bold" for="password">Password</label>
                <input
                    class="shadow appearance-none border rounded-lg w-full py-2 my-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="password-login" type="password" placeholder="Enter your password">
                <button type="submit" class="px-5 py-1 h-full bg-secondary text-xl text-bold rounded-md text-white
                                        hover:bg-primary">Login</button>

                <a href="/signup" class=" text-center my-2 px-5 py-1 h-full   text-primary
                        hover:opacity-80">Sign up now</a>
        </form>
    </div>
</div>

<script src="/js/login.js">
</script>