<div class="mx-auto container flex flex-row mt-10">
    <div class=" w-10/12 md:w-6/12 mx-auto inline-block py-20 px-10 rounded-lg shadow-lg border border-solid 
    border-opacity-10 
    rounded-xl max-w-sm content-center">
        <form id="signupForm">
            <h1 class="text-2xl font-bold text-sans">Signup</h1>
            <div class="flex flex-col my-7">
                <label class="block text-lg font-bold" for="username">Username</label>
                <input
                    class="shadow appearance-none border rounded-lg w-full py-2 my-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text" placeholder=" Enter your desired username">

                <label class="block text-lg font-bold" for="password">Password</label>
                <input
                    class="shadow appearance-none border rounded-lg w-full py-2 my-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password" placeholder="Enter your password">

                <button type="submit" class=" px-5 py-1 h-full bg-secondary text-xl text-bold rounded-md text-white
                hover:bg-primary"> Signup</button>
        </form>
        <a href="/login" class=" text-center my-2 px-5 py-1 h-full   text-primary
        hover:opacity-80">Have an account? Login now</a>
    </div>
</div>

<script>
    const form = document.getElementById('signupForm');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        if (password.length < 8) {
            toastr.error("Password must be 8 characters long");
            return;
        }
        const data = {
            username,
            password
        };
        fetch('/api/users/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(res => res.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    window.location.href = '/login';
                }
            })
            .catch(err => {
                console.log(err);
            });
    });

</script>